:root {
	--bg: 	  #FFFCF7;
	--empty : #FFF7E5;
	--marker: #FFEBC2;
    --darker: #996a08;
	--yellow: #FAE457;
	--orange: #FFBF59;
	--red:	  #FF8F9E;
	--blue:   #8FE3FF;
    --purple: #DD99FF;
    
    --cellSize: 64px;
}


.yellow .dot { background-color: var(--yellow) }
.orange .dot { background-color: var(--orange) }
.red    .dot { background-color: var(--red) }
.blue 	.dot { background-color: var(--blue) }
.purple .dot { background-color: var(--purple) }
.marker .dot { background-color: var(--marker) }

.empty .dot	{ background-color: var(--empty) }
.empty:hover .dot {
		background-color: var(--marker)
}


body {
	background-color: var(--bg);
/*     background-color: gray; */
    display: flex;
    margin: 64px;
    justify-content: center;
/* background-color: gray */
}

body * {
/*     border: 1px solid black; */
    box-sizing: border-box;
}

button {
 	border:none;
 	background-color:transparent;
 	outline:none;
}

.root {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, var(--cellSize))
}
    /* The actual clickable grid cell */
    .cell {
	    width: 64px;
	    height: 64px;
        padding: 0px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        /* The visible part */
        .dot {
            width: 32px;
            height: 32px;
            border-radius: 99px;
            transition: width 125ms ease-out, height 125ms ease-out
        }
        
        .cell:active .dot {
            width: 40px;
            height: 40px;
            transition: width 50ms ease-out, height 50ms ease-out
        }
        
/*         .cell:hover .dot {
            width: 40px;
            height: 40px;
            transition: width 125ms ease-in, height 125ms ease-in;
        } */

        .empty .dot {
            width: 16px;
            height: 16px;
            transition: background-color 750ms ease-out, width 750ms ease-out, height 750ms ease-out
        }
        .empty:hover .dot {
            width: 24px;
            height: 24px;
            background-color: var(--marker);
            transition: background-color 125ms ease-out, width 125ms ease-out, height 125ms ease-out
        }
        .empty:active .dot {
            width: 40px;
            height: 40px;
            transition: width 50ms ease-out, height 50ms ease-out  
        }
        

.nuke {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--darker)
}
.nuke:hover {
   color: var(--red)
}